/*
   Add additional application styles or override styles provided by the selected theme or widgets.
   You can include SASS syntax, as this file is built to a css file using a SASS processor.

   Available Variables:

   Variable Name      Description
   ----------------------------------------------------
   $resources         References the directory where resources reside (images, etc.), this directory may be different
                      between the design time and the runtime directory structure.

                      Example: background-image: url(#{$resources}/Uploaded/image.png)

   $font-path        References the relative directory where fonts are stored.
*/

//------------------------------------------ Corporate Design PTC CSS by Simon ---------------------------------------------------------

ion-side-menus.view {
  left: 0px;
  width: 100vw;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

ion-nav-view.view-container {
  height: 100vh;
  padding-bottom: env(safe-area-inset-bottom);
}

//Import Century Gothic Font (works for 2D Widgets and 3D Gauge only) 
@font-face {
	font-family: 'Century Gothic'; font-style: bold;
	src: url(#{$resources}/fonts/centurygothicbold-webfont.eot);
	src: local('Century Gothic'), url(#{$resources}/fonts/centurygothicbold-webfont.woff) format('woff'), url(#{$resources}/fonts/centurygothicbold-webfont.ttf) format('truetype');
}

@font-face {
	font-family: 'Century Gothic'; font-style: normal;
	src: url(#{$resources}/fonts/centurygothic-webfont.eot);
	src: local('Century Gothic'), url(#{$resources}/fonts/centurygothic-webfont.woff) format('woff'), url(#{$resources}/fonts/centurygothic-webfont.ttf) format('truetype');
}

//Colors related to Guideline 2018

$ptc-green: #5BB73B;
$ptc-gray: #3D4647;
$ptc-orange: #F38800;
$ptc-cool-gray: #C8C9C7;
$ptc-dark-red: #912F46;
$ptc-blue: #912F46;
$ptc-dark-blue: #912F46;
$ptc-yellow: #F1B434;
$ptc-dark-green: #007A3E;

$ptc-logo-ko: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 214.87 83.6"><title>PTC-logo_KO</title><polygon points="36.23 0 0 20.93 0 39.42 36.23 18.35 56.6 30.04 52.54 32.4 36.23 23.01 22.03 31.22 54.47 50 72.45 39.48 72.45 20.93 36.23 0" style="fill:#fff"/><path d="M370.61,275.27l26.44,15.31-8.21,4.75L374,286.8l-1.51-.86-1.49.87L367,289.16l-4.49,2.61,4.5,2.59,20.38,11.69,1.5.86,1.5-.87,31.72-18.45v11.6l-33.23,19.15-33.23-19.15V284l15-8.77m0-3.47-18,10.52v18.6l36.23,20.88,36.23-20.88V282.38l-36.23,21.07-20.37-11.69,4-2.36,16.32,9.39,14.2-8.21L370.6,271.8Z" transform="translate(-352.61 -238.2)" style="fill:#fff"/><path d="M461.29,265.72q4.89-7.17,14.59-7.17a18.26,18.26,0,0,1,14.27,6.11,23.1,23.1,0,0,1,0,29.83q-5.47,6.11-14.68,6.11t-14.18-7.25v22.74h-6.11V259.2h6.11Zm13.78-1.63a12.9,12.9,0,0,0-10.43,4.56,18.1,18.1,0,0,0,0,21.85,12.9,12.9,0,0,0,10.43,4.56,13.53,13.53,0,0,0,10.59-4.56,17.5,17.5,0,0,0,0-21.85A13.53,13.53,0,0,0,475.07,264.09Z" transform="translate(-352.61 -238.2)" style="fill:#fff"/><path d="M508.32,300V264.58H500V259.2h8.31V244.61h6.11V259.2h9.37v5.38h-9.37V300Z" transform="translate(-352.61 -238.2)" style="fill:#fff"/><path d="M549.56,295.06a11.43,11.43,0,0,0,6.93-2.2,12.75,12.75,0,0,0,4.4-5.71h6.6a18.51,18.51,0,0,1-6.85,9.7,20.62,20.62,0,0,1-12.38,3.75,18.93,18.93,0,0,1-14.59-6.11,23.1,23.1,0,0,1,0-29.83,18.93,18.93,0,0,1,14.59-6.11,20.62,20.62,0,0,1,12.38,3.75,18.55,18.55,0,0,1,6.85,9.7h-6.6a12.75,12.75,0,0,0-4.4-5.71,11.43,11.43,0,0,0-6.93-2.2,16.27,16.27,0,0,0-6.64,1.22,13.45,13.45,0,0,0-4.61,3.34,17,17,0,0,0,0,21.85Q542.39,295.06,549.56,295.06Z"transform="translate(-352.61 -238.2)" style="fill:#fff"/></svg>');

$ptc-logo-ko-gr: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 214.87 83.6"><title>ptc-master-KO_GR</title><polygon points="36.23 0 0 20.93 0 39.42 36.23 18.35 56.6 30.04 52.54 32.4 36.23 23.01 22.03 31.22 54.47 50 72.45 39.48 72.45 20.93 36.23 0" style="fill:#fff"/><polygon points="36.23 83.6 72.45 62.72 72.45 44.18 36.23 65.25 15.85 53.56 19.91 51.2 36.23 60.59 50.42 52.38 17.98 33.6 0 44.12 0 62.72 36.23 83.6" style="fill:#6ebe4c"/><path d="M461.29,265.72q4.89-7.17,14.59-7.17a18.26,18.26,0,0,1,14.27,6.11,23.1,23.1,0,0,1,0,29.83q-5.47,6.11-14.68,6.11t-14.18-7.25v22.74h-6.11V259.2h6.11Zm13.78-1.63a12.9,12.9,0,0,0-10.43,4.56,18.1,18.1,0,0,0,0,21.85,12.9,12.9,0,0,0,10.43,4.56,13.53,13.53,0,0,0,10.59-4.56,17.5,17.5,0,0,0,0-21.85A13.53,13.53,0,0,0,475.07,264.09Z" transform="translate(-352.61 -238.2)" style="fill:#fff"/><path d="M508.32,300V264.58H500V259.2h8.31V244.61h6.11V259.2h9.37v5.38h-9.37V300Z" transform="translate(-352.61 -238.2)" style="fill:#fff"/><path d="M549.56,295.06a11.43,11.43,0,0,0,6.93-2.2,12.75,12.75,0,0,0,4.4-5.71h6.6a18.51,18.51,0,0,1-6.85,9.7,20.62,20.62,0,0,1-12.38,3.75,18.93,18.93,0,0,1-14.59-6.11,23.1,23.1,0,0,1,0-29.83,18.93,18.93,0,0,1,14.59-6.11,20.62,20.62,0,0,1,12.38,3.75,18.55,18.55,0,0,1,6.85,9.7h-6.6a12.75,12.75,0,0,0-4.4-5.71,11.43,11.43,0,0,0-6.93-2.2,16.27,16.27,0,0,0-6.64,1.22,13.45,13.45,0,0,0-4.61,3.34,17,17,0,0,0,0,21.85Q542.39,295.06,549.56,295.06Z" transform="translate(-352.61 -238.2)" style="fill:#fff"/></svg>');

$windchill-logo-ko-gr: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 360.02 82.99"><title>windchill-KO-Gr</title><g id="Layer_2" data-name="Layer 2"><path d="M183.46,74.14l-8.13,25.94h-5.59l-10.2-32.5h5.2L172.54,94l8.25-26.45h5.33L194.38,94l7.8-26.45h5.2l-10.21,32.5h-5.59Z" transform="translate(-56.49 -39.51)" style="fill:#fff"/><path d="M211.69,67.58h4.87v32.5h-4.87Z" transform="translate(-56.49 -39.51)" style="fill:#fff"/><path d="M229.25,67.58v5.07a16.44,16.44,0,0,1,4.29-4,10.52,10.52,0,0,1,5.79-1.62,15.37,15.37,0,0,1,5.59.91A11.4,11.4,0,0,1,249,70.7a14,14,0,0,1,4,10.46v18.92h-4.87V81.29a10,10,0,0,0-2.54-7.15,8.66,8.66,0,0,0-6.56-2.66,9.72,9.72,0,0,0-7,2.73,9.59,9.59,0,0,0-2.86,7.15v18.72h-4.87V67.58Z" transform="translate(-56.49 -39.51)" style="fill:#fff"/><path d="M286,94.88q-3.9,5.72-11.64,5.72A14.74,14.74,0,0,1,263,95.72a17.2,17.2,0,0,1-4.29-11.89A17.24,17.24,0,0,1,263,71.93a15.12,15.12,0,0,1,11.77-4.87A12.92,12.92,0,0,1,286,72.84V54.58h4.87v45.5H286Zm-11,1.3a10.28,10.28,0,0,0,8.32-3.64,13,13,0,0,0,2.93-8.71,13,13,0,0,0-2.93-8.71,10.28,10.28,0,0,0-8.32-3.64,10.79,10.79,0,0,0-8.45,3.64,12.63,12.63,0,0,0-3.05,8.71,12.63,12.63,0,0,0,3.05,8.71A10.79,10.79,0,0,0,275.05,96.18Z" transform="translate(-56.49 -39.51)" style="fill:#fff"/><path d="M314,96.18a9.11,9.11,0,0,0,5.52-1.76A10,10,0,0,0,323,89.87h5.27a14.86,14.86,0,0,1-5.46,7.74,16.5,16.5,0,0,1-9.88,3,15.09,15.09,0,0,1-11.64-4.88,16.91,16.91,0,0,1-4.35-11.89,17,17,0,0,1,4.35-11.9,15.08,15.08,0,0,1,11.64-4.87,16.5,16.5,0,0,1,9.88,3,14.87,14.87,0,0,1,5.46,7.73H323a10.05,10.05,0,0,0-3.51-4.55A9.1,9.1,0,0,0,314,71.48a12.93,12.93,0,0,0-5.3,1A10.64,10.64,0,0,0,305,75.12a13.52,13.52,0,0,0,0,17.42A11.41,11.41,0,0,0,314,96.18Z" transform="translate(-56.49 -39.51)" style="fill:#fff"/><path d="M338.59,54.58V72.65a16.44,16.44,0,0,1,4.29-4,10.52,10.52,0,0,1,5.79-1.62,15.34,15.34,0,0,1,5.59.91,11.4,11.4,0,0,1,4.09,2.73,14,14,0,0,1,4,10.46v18.92h-4.87V81.29A10,10,0,0,0,355,74.14a8.66,8.66,0,0,0-6.56-2.66,9.72,9.72,0,0,0-7,2.73,9.59,9.59,0,0,0-2.86,7.15v18.72h-4.87V54.58Z" transform="translate(-56.49 -39.51)" style="fill:#fff"/><path d="M369.83,67.58h4.87v32.5h-4.87Z" transform="translate(-56.49 -39.51)" style="fill:#fff"/><path d="M387.39,100.08h-4.88V54.58h4.88Z" transform="translate(-56.49 -39.51)" style="fill:#fff"/><path d="M400.06,100.08h-4.88V54.58h4.88Z" transform="translate(-56.49 -39.51)" style="fill:#fff"/><path d="M411.31,54.23a5.11,5.11,0,0,1,2,.41A5.41,5.41,0,0,1,415,55.76a5.21,5.21,0,0,1,1.11,1.65,5.18,5.18,0,0,1,0,4A5.17,5.17,0,0,1,415,63.09a5.24,5.24,0,0,1-1.65,1.12,5.11,5.11,0,0,1-2,.41,5.05,5.05,0,0,1-2-.41,5.24,5.24,0,0,1-1.65-1.12,5.17,5.17,0,0,1-1.11-1.64,5.18,5.18,0,0,1,0-4,5.21,5.21,0,0,1,1.11-1.65,5.41,5.41,0,0,1,1.65-1.12A5.05,5.05,0,0,1,411.31,54.23Zm0,9.64a4.29,4.29,0,0,0,3.16-1.3,4.48,4.48,0,0,0,.95-1.42,4.43,4.43,0,0,0,0-3.45,4.48,4.48,0,0,0-.95-1.42,4.29,4.29,0,0,0-3.16-1.3,4.2,4.2,0,0,0-3.13,1.3,4.43,4.43,0,0,0,0,6.29A4.2,4.2,0,0,0,411.31,63.87Zm2.57-5.62a1.52,1.52,0,0,1-.31.92,1.66,1.66,0,0,1-.83.57,1.5,1.5,0,0,1,1,1.36,3.28,3.28,0,0,1,0,.52v.71h-1.05v-.58a2.41,2.41,0,0,0-.13-.94,1,1,0,0,0-1-.6h-1.47v2.12h-1.06V56.54h2.45a2.77,2.77,0,0,1,1.8.47A1.53,1.53,0,0,1,413.88,58.25Zm-2.44,1a1.78,1.78,0,0,0,1-.25.76.76,0,0,0,.38-.68.86.86,0,0,0-.3-.69,1.9,1.9,0,0,0-1.12-.25h-1.29V59.3Z" transform="translate(-56.49 -39.51)" style="fill:#fff"/><circle cx="157.63" cy="19.42" r="3.19" style="fill:#fff"/><circle cx="315.77" cy="19.42" r="3.19" style="fill:#fff"/><polygon points="50.48 26.75 50.48 8.39 35.94 0 20.05 9.17 50.48 26.75" style="fill:#fff"/><polygon points="55.98 46.73 71.87 37.55 71.87 20.75 55.98 11.57 55.98 46.73" style="fill:#fff"/><polygon points="21.39 56.29 21.39 74.6 35.94 82.99 51.78 73.85 21.39 56.29" style="fill:#fff"/><polygon points="41.41 61.5 57.28 70.67 71.87 62.24 71.87 43.9 41.41 61.5" style="fill:#fff"/><polygon points="30.42 21.51 14.55 12.35 0 20.75 0 39.09 30.42 21.51" style="fill:#fff"/><polygon points="15.89 36.26 0 45.45 0 62.24 15.89 71.42 15.89 36.26" style="fill:#fff"/><polygon points="50.48 49.89 35.94 58.29 21.39 49.89 21.39 33.1 35.94 24.7 50.48 33.1 50.48 49.89" style="fill:#6ebe4c"/></g></svg>');

[twx-view="Choose"],
.mainPopup{
    background: $ptc-gray;
}

.headerGreen {
  color: $ptc-green;
  font-family: 'Century Gothic';
  font-weight: bold;
  font-size: 24px;
}

.corporateButton {
  background-color: $ptc-green;
  border-radius: 0px;
  width: 90px;
}

.corporateButtonRed {
  background-color: $ptc-dark-red;
  border-radius: 0px;
  width: 90px;
}

.scanButton {
  background-color: transparent;
  //background-position: center center;
  //border: 2px $ptc-green solid;
  //box-shadow: 3px 3px 5px black;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.6);
  color: $ptc-green;
  font-family: 'Century Gothic';
  font-weight: bold;
  
  
  border-radius: 50%;
  width: 160px;
  height: 160px;
  
}

.scanButton:after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 141.53 144.64"><title>Asset 2</title><g style="isolation:isolate"><g id="Layer_2" data-name="Layer 2"><g id="Basic_Elements" data-name="Basic Elements"><path d="M71.93,142.15h-.15a71.33,71.33,0,0,1-50.77-21,72.53,72.53,0,0,1-10.35-13,2.2,2.2,0,0,1,.77-3,2.18,2.18,0,0,1,3,.75A67.81,67.81,0,0,0,24.1,118a67,67,0,0,0,47.68,19.73h.15ZM12.53,105a1.88,1.88,0,0,0-1.84,1.43,1.89,1.89,0,0,0,.23,1.45,71.92,71.92,0,0,0,10.3,13,71,71,0,0,0,50.41,20.93v-3.78a67.23,67.23,0,0,1-47.74-19.82,67.92,67.92,0,0,1-9.76-12.31A1.88,1.88,0,0,0,12.53,105Z" style="fill:#b9b7b8;opacity:0.07"/><path d="M10.49,105.59a2.41,2.41,0,0,1-.6-.08,2.18,2.18,0,0,1-1.33-1.06,72.14,72.14,0,0,1,0-68.17,2.15,2.15,0,0,1,1.33-1.06,2.19,2.19,0,0,1,2.52,3.15,67.68,67.68,0,0,0,0,64,2.19,2.19,0,0,1-.83,2.94A2.22,2.22,0,0,1,10.49,105.59Zm0-70.15a1.81,1.81,0,0,0-.52.07,1.84,1.84,0,0,0-1.14.92,71.77,71.77,0,0,0,0,67.87,1.84,1.84,0,0,0,1.14.92,1.91,1.91,0,0,0,1.46-.18,1.88,1.88,0,0,0,.71-2.53,68.06,68.06,0,0,1,0-64.29,1.88,1.88,0,0,0-1.65-2.78Z" style="fill:#b9b7b8;opacity:0.30000000000000004"/><g style="opacity:0.42"><path d="M75.37,101.13A31.09,31.09,0,0,0,97.61,88.28l12.88,7.43a46.59,46.59,0,0,1-5.72,7A45.4,45.4,0,0,1,75.37,116Z" style="fill:#b9b7b8;opacity:0.18;mix-blend-mode:screen"/><path d="M69.51,116a45.4,45.4,0,0,1-29.39-13.28,46,46,0,0,1-5.72-7l12.87-7.43a31.13,31.13,0,0,0,22.24,12.85Z" style="fill:#b9b7b8;mix-blend-mode:screen"/><path d="M31.46,90.64a46,46,0,0,1,0-40.55l12.88,7.43a30.86,30.86,0,0,0,0,25.69Z" style="fill:#b9b7b8;opacity:0.25;mix-blend-mode:screen"/><path d="M34.4,45a46.41,46.41,0,0,1,5.72-7A45.4,45.4,0,0,1,69.51,24.76V39.6A31.09,31.09,0,0,0,47.27,52.45Z" style="fill:#b9b7b8;mix-blend-mode:screen"/><path d="M97.61,52.45A31,31,0,0,0,75.37,39.6V24.76A45.4,45.4,0,0,1,104.77,38a47,47,0,0,1,5.72,7Z" style="fill:#b9b7b8;opacity:0.25;mix-blend-mode:screen"/><path d="M100.55,83.21a30.86,30.86,0,0,0,0-25.69l12.88-7.43a46,46,0,0,1,0,40.55Z" style="fill:#b9b7b8;opacity:0.25;mix-blend-mode:screen"/></g><path d="M29.49,28.07a59.41,59.41,0,0,1,42.29-17.5h0V7h0A63,63,0,0,0,26.94,25.52,63.81,63.81,0,0,0,16.85,38.65L20,40.45A60.1,60.1,0,0,1,29.49,28.07Z" style="fill:#b9b7b8;opacity:0.07"/><path d="M114.07,112.66a59.37,59.37,0,0,1-42.29,17.5v3.6a63,63,0,0,0,44.84-18.55,63.86,63.86,0,0,0,10.1-13.13l-3.12-1.8A60.15,60.15,0,0,1,114.07,112.66Z" style="fill:#b9b7b8;opacity:0.4"/><path d="M12,70.36a59.46,59.46,0,0,1,8-29.91l-3.12-1.8a63.61,63.61,0,0,0,0,63.43l3.12-1.8A59.47,59.47,0,0,1,12,70.36Z" style="fill:#b9b7b8;opacity:0.30000000000000004"/><path d="M71.78,130.16a59.41,59.41,0,0,1-42.29-17.5A60.1,60.1,0,0,1,20,100.28l-3.12,1.8a63.81,63.81,0,0,0,10.09,13.13,63,63,0,0,0,44.84,18.55h0v-3.6Z" style="fill:#b9b7b8;opacity:0.76"/><path d="M114.07,28.07a60.15,60.15,0,0,1,9.53,12.38l3.12-1.8a63.86,63.86,0,0,0-10.1-13.13A63,63,0,0,0,71.78,7v3.61A59.37,59.37,0,0,1,114.07,28.07Z" style="fill:#b9b7b8"/><path d="M126.72,38.65l-3.12,1.8a60.06,60.06,0,0,1,0,59.83l3.12,1.8a63.68,63.68,0,0,0,0-63.43Z" style="fill:#b9b7b8;opacity:0.17"/><path d="M95.32,56.77l6.25-3.6A34.43,34.43,0,0,0,71.78,36v7.21A27.21,27.21,0,0,1,95.32,56.77Z" style="fill:#b9b7b8;opacity:0.18"/><path d="M99,70.36A27.07,27.07,0,0,1,95.32,84l6.25,3.6a34.37,34.37,0,0,0,0-34.39l-6.25,3.6A27,27,0,0,1,99,70.36Z" style="fill:#b9b7b8;opacity:0.07"/><path d="M44.59,70.36a27,27,0,0,1,3.65-13.59L42,53.17a34.37,34.37,0,0,0,0,34.39L48.24,84A27.06,27.06,0,0,1,44.59,70.36Z" style="fill:#b9b7b8;opacity:0.07"/><path d="M71.78,97.56A27.21,27.21,0,0,1,48.24,84L42,87.56a34.43,34.43,0,0,0,29.79,17.21h0V97.56Z" style="fill:#b9b7b8;opacity:0.25"/><path d="M71.78,140.34v-.6a69.39,69.39,0,0,0,66-47.93l.57.18a70,70,0,0,1-66.57,48.35Z" style="fill:#b9b7b8"/><path d="M138.14,91.92l-.15,0A69.57,69.57,0,0,0,112.7,14.05l.09-.13a69.9,69.9,0,0,1,25.35,78Z" style="fill:#b9b7b8"/><path d="M30.58,14.16a.3.3,0,0,1,.06-.42h0a.29.29,0,0,1,.42.07h0a.3.3,0,0,1-.06.42h0a.32.32,0,0,1-.18.06h0A.31.31,0,0,1,30.58,14.16Zm80.85-.74h0a.31.31,0,0,1-.08-.42h0a.3.3,0,0,1,.42-.08h0a.3.3,0,0,1,.07.42h0a.27.27,0,0,1-.24.13h0A.34.34,0,0,1,111.43,13.42Zm-79.14-.48a.29.29,0,0,1,.08-.41h0a.3.3,0,0,1,.42.07h0a.31.31,0,0,1-.08.42h0a.28.28,0,0,1-.17.05h0A.29.29,0,0,1,32.29,12.94Zm77.4-.69a.31.31,0,0,1-.09-.42h0a.31.31,0,0,1,.42-.09h0a.31.31,0,0,1,.09.42h0a.3.3,0,0,1-.25.13h0A.33.33,0,0,1,109.69,12.25ZM34,11.78a.31.31,0,0,1,.09-.42h0a.3.3,0,0,1,.41.09h0a.31.31,0,0,1-.09.42h0a.3.3,0,0,1-.16.05h0A.3.3,0,0,1,34,11.78Zm73.88-.65a.32.32,0,0,1-.1-.42h0a.32.32,0,0,1,.42-.1h0a.32.32,0,0,1,.1.42h0a.31.31,0,0,1-.26.14h0A.32.32,0,0,1,107.92,11.13Zm-72.1-.47a.3.3,0,0,1,.1-.41h0a.31.31,0,0,1,.42.11h0a.31.31,0,0,1-.11.41h0a.28.28,0,0,1-.15,0h0A.3.3,0,0,1,35.82,10.66Zm70.3-.6a.3.3,0,0,1-.11-.41h0a.3.3,0,0,1,.41-.11h0a.31.31,0,0,1,.11.41h0a.29.29,0,0,1-.26.15h0A.28.28,0,0,1,106.12,10.06ZM37.64,9.61a.3.3,0,0,1,.11-.41h0a.3.3,0,0,1,.41.12h0a.29.29,0,0,1-.12.4h0a.23.23,0,0,1-.14,0h0A.28.28,0,0,1,37.64,9.61Zm66.65-.56a.3.3,0,0,1-.13-.4h0a.31.31,0,0,1,.41-.13h0a.3.3,0,0,1,.12.41h0a.29.29,0,0,1-.26.16h0A.23.23,0,0,1,104.29,9.05ZM39.48,8.6a.3.3,0,0,1,.13-.4h0a.29.29,0,0,1,.4.13h0a.3.3,0,0,1-.12.4h0a.27.27,0,0,1-.14,0h0A.29.29,0,0,1,39.48,8.6Zm62.94-.5a.29.29,0,0,1-.13-.4h0a.3.3,0,0,1,.4-.14h0a.3.3,0,0,1,.14.4h0a.31.31,0,0,1-.27.17h0A.35.35,0,0,1,102.42,8.1ZM41.36,7.66a.3.3,0,0,1,.14-.4h0a.3.3,0,0,1,.4.14h0a.3.3,0,0,1-.14.4h0a.31.31,0,0,1-.13,0h0A.29.29,0,0,1,41.36,7.66Zm59.17-.46a.29.29,0,0,1-.15-.39h0a.3.3,0,0,1,.4-.15h0a.29.29,0,0,1,.15.39h0a.3.3,0,0,1-.27.18h0A.28.28,0,0,1,100.53,7.2ZM43.26,6.77a.3.3,0,0,1,.15-.4h0a.31.31,0,0,1,.4.16h0a.29.29,0,0,1-.15.39h0a.27.27,0,0,1-.12,0h0A.31.31,0,0,1,43.26,6.77Zm55.35-.41A.3.3,0,0,1,98.45,6h0a.31.31,0,0,1,.4-.16h0A.31.31,0,0,1,99,6.2h0a.3.3,0,0,1-.28.19h0A.27.27,0,0,1,98.61,6.36ZM45.19,5.94a.3.3,0,0,1,.16-.39h0a.3.3,0,0,1,.4.16h0a.31.31,0,0,1-.17.39h0a.23.23,0,0,1-.11,0h0A.32.32,0,0,1,45.19,5.94Zm51.48-.36h0a.29.29,0,0,1-.17-.38h0A.3.3,0,0,1,96.89,5h0a.31.31,0,0,1,.17.39h0a.3.3,0,0,1-.28.19h0A.22.22,0,0,1,96.67,5.58ZM47.14,5.17a.31.31,0,0,1,.18-.39h0a.3.3,0,0,1,.39.18h0a.3.3,0,0,1-.18.38h0l-.11,0h0A.3.3,0,0,1,47.14,5.17Zm47.57-.31a.3.3,0,0,1-.19-.38h0a.3.3,0,0,1,.39-.18h0a.3.3,0,0,1,.19.38h0a.3.3,0,0,1-.28.2h0ZM49.12,4.45a.31.31,0,0,1,.19-.38h0a.3.3,0,0,1,.38.19h0a.3.3,0,0,1-.19.38h0l-.1,0h0A.3.3,0,0,1,49.12,4.45Zm43.6-.25a.31.31,0,0,1-.2-.37h0a.31.31,0,0,1,.38-.2h0a.3.3,0,0,1,.2.38h0a.31.31,0,0,1-.29.21h0Zm-41.6-.4a.29.29,0,0,1,.2-.37h0a.3.3,0,0,1,.37.2h0a.29.29,0,0,1-.2.37H51.4A.29.29,0,0,1,51.12,3.8Zm39.6-.2a.29.29,0,0,1-.21-.37h0A.3.3,0,0,1,90.88,3h0a.31.31,0,0,1,.21.37h0a.3.3,0,0,1-.29.22h-.08ZM53.13,3.21a.3.3,0,0,1,.21-.37h0a.3.3,0,0,1,.37.21h0a.29.29,0,0,1-.21.37h-.08A.31.31,0,0,1,53.13,3.21Zm35.56-.15a.3.3,0,0,1-.22-.36h0a.31.31,0,0,1,.37-.22h0a.3.3,0,0,1,.22.36h0a.31.31,0,0,1-.3.23h-.07ZM55.16,2.68a.3.3,0,0,1,.23-.36h0a.3.3,0,0,1,.36.22h0a.3.3,0,0,1-.22.36h-.07A.31.31,0,0,1,55.16,2.68Zm31.49-.09a.31.31,0,0,1-.23-.36h0A.3.3,0,0,1,86.78,2h0a.3.3,0,0,1,.23.36h0a.29.29,0,0,1-.29.23h-.07ZM57.21,2.21a.3.3,0,0,1,.23-.35h0a.3.3,0,0,1,.36.23h0a.31.31,0,0,1-.23.36h-.06A.31.31,0,0,1,57.21,2.21Zm27.39,0a.3.3,0,0,1-.24-.35h0a.3.3,0,0,1,.35-.24h0a.3.3,0,0,1,.24.35h0a.3.3,0,0,1-.29.25H84.6ZM59.27,1.81a.3.3,0,0,1,.25-.35h0a.29.29,0,0,1,.34.24h0a.3.3,0,0,1-.24.35h0A.32.32,0,0,1,59.27,1.81Zm23.27,0a.3.3,0,0,1-.25-.35h0a.3.3,0,0,1,.34-.25h0a.31.31,0,0,1,.25.35h0a.29.29,0,0,1-.3.25h0Zm-21.2-.35a.31.31,0,0,1,.26-.35h0a.31.31,0,0,1,.34.26h0a.3.3,0,0,1-.26.34h0A.3.3,0,0,1,61.34,1.47Zm19.12.06a.3.3,0,0,1-.26-.34h0a.3.3,0,0,1,.34-.26h0a.3.3,0,0,1,.26.34h0a.3.3,0,0,1-.3.26h0Zm-17-.34a.3.3,0,0,1,.26-.34h0a.3.3,0,0,1,.33.27h0a.3.3,0,0,1-.26.33h0A.28.28,0,0,1,63.43,1.19Zm14.95.11A.3.3,0,0,1,78.11,1h0A.31.31,0,0,1,78.44.7h0a.31.31,0,0,1,.27.33h0a.31.31,0,0,1-.3.27h0ZM65.51,1a.31.31,0,0,1,.28-.33h0a.3.3,0,0,1,.32.28h0a.3.3,0,0,1-.27.32h0A.31.31,0,0,1,65.51,1Zm10.78.16A.3.3,0,0,1,76,.82h0a.29.29,0,0,1,.32-.28h0a.29.29,0,0,1,.28.31h0a.31.31,0,0,1-.3.29h0ZM67.61.81A.3.3,0,0,1,67.89.5h0a.3.3,0,0,1,.32.28h0a.32.32,0,0,1-.29.32h0A.31.31,0,0,1,67.61.81ZM74.2,1a.29.29,0,0,1-.29-.31h0a.31.31,0,0,1,.31-.29h0a.3.3,0,0,1,.29.31h0a.31.31,0,0,1-.3.29h0ZM69.7.72A.31.31,0,0,1,70,.41h0a.3.3,0,0,1,.3.3h0A.29.29,0,0,1,70,1h0A.31.31,0,0,1,69.7.72ZM72.11,1a.29.29,0,0,1-.3-.3h0a.29.29,0,0,1,.3-.3h0a.31.31,0,0,1,.3.3h0a.3.3,0,0,1-.3.3Z" style="fill:#b9b7b8"/><path d="M5.39,91.94a69.8,69.8,0,0,1,25.36-78l.14.19A69.66,69.66,0,0,0,5.61,91.87Z" style="fill:#b9b7b8"/><path d="M71.78,125.72v-.08a55.25,55.25,0,0,0,52.59-38.19l.07,0a54.9,54.9,0,0,1-7.8,15.35,55.18,55.18,0,0,1-44.86,22.9Z" style="fill:#b9b7b8"/><path d="M71.78,126.28a55.51,55.51,0,0,1-33.2-10.9,56.1,56.1,0,0,1-20-27.73l1.15-.37a54.71,54.71,0,0,0,52.05,37.8Z" style="fill:#b9b7b8"/><path d="M104,26A54.49,54.49,0,0,0,71.78,15.5v-.9a55.39,55.39,0,0,1,32.79,10.64Z" style="fill:#b9b7b8"/><path d="M39.32,25.68l-.12-.16A55.09,55.09,0,0,1,71.78,15v.19A54.84,54.84,0,0,0,39.32,25.68Z" style="fill:#b9b7b8"/><path d="M18.87,87.56h0a.31.31,0,0,1,.19-.38h0a.3.3,0,0,1,.38.19h0a.3.3,0,0,1-.19.38h-.09A.3.3,0,0,1,18.87,87.56ZM18,84.66a.31.31,0,0,1,.21-.37h0a.31.31,0,0,1,.37.22h0a.29.29,0,0,1-.21.36h-.08A.29.29,0,0,1,18,84.66Zm-.69-2.94a.29.29,0,0,1,.23-.35h0a.29.29,0,0,1,.35.23h0a.3.3,0,0,1-.23.36h-.06A.29.29,0,0,1,17.33,81.72Zm-.54-3a.31.31,0,0,1,.25-.34h0a.31.31,0,0,1,.35.25h0a.3.3,0,0,1-.26.34h0A.3.3,0,0,1,16.79,78.75Zm-.37-3a.3.3,0,0,1,.27-.33h0a.3.3,0,0,1,.33.27h0a.31.31,0,0,1-.27.33h0A.31.31,0,0,1,16.42,75.76Zm-.21-3a.32.32,0,0,1,.29-.32h0a.3.3,0,0,1,.31.29h0a.29.29,0,0,1-.28.31h0A.3.3,0,0,1,16.21,72.75ZM16.46,70a.3.3,0,0,1-.29-.3h0a.29.29,0,0,1,.3-.3h0a.3.3,0,0,1,.3.31h0a.3.3,0,0,1-.3.29h0Zm.1-3a.3.3,0,0,1-.28-.32h0a.3.3,0,0,1,.32-.28h0a.3.3,0,0,1,.28.32h0a.3.3,0,0,1-.3.28h0Zm.26-3a.29.29,0,0,1-.26-.33h0a.29.29,0,0,1,.33-.26h0a.29.29,0,0,1,.26.33h0a.3.3,0,0,1-.3.26h0Zm.42-3a.3.3,0,0,1-.24-.35h0a.3.3,0,0,1,.35-.24h0a.31.31,0,0,1,.25.35h0a.31.31,0,0,1-.3.24h-.05Zm.58-3a.31.31,0,0,1-.23-.36h0a.3.3,0,0,1,.37-.22h0a.29.29,0,0,1,.22.36h0a.3.3,0,0,1-.29.23h-.07Zm.74-2.91a.29.29,0,0,1-.2-.37h0a.29.29,0,0,1,.37-.2h0a.29.29,0,0,1,.2.37h0a.3.3,0,0,1-.29.21h-.08Zm.9-2.86a.31.31,0,0,1-.19-.39h0a.31.31,0,0,1,.39-.19h0a.3.3,0,0,1,.18.38h0a.29.29,0,0,1-.28.2h-.1Zm1.05-2.81a.31.31,0,0,1-.16-.4h0a.3.3,0,0,1,.39-.16h0a.29.29,0,0,1,.16.39h0a.29.29,0,0,1-.27.19h0Zm1.21-2.75a.29.29,0,0,1-.14-.4h0a.3.3,0,0,1,.4-.15h0a.3.3,0,0,1,.14.4h0a.29.29,0,0,1-.27.17h0A.27.27,0,0,1,21.72,46.79Zm1.35-2.68A.3.3,0,0,1,23,43.7h0a.3.3,0,0,1,.41-.12h0a.31.31,0,0,1,.12.41h0a.3.3,0,0,1-.26.15h0A.4.4,0,0,1,23.07,44.11Zm1.5-2.61a.29.29,0,0,1-.1-.41h0a.31.31,0,0,1,.41-.1h0a.3.3,0,0,1,.1.42h0a.29.29,0,0,1-.25.14h0A.3.3,0,0,1,24.57,41.5ZM26.21,39a.3.3,0,0,1-.08-.42h0a.3.3,0,0,1,.42-.08h0a.3.3,0,0,1,.07.42h0a.27.27,0,0,1-.24.13h0A.34.34,0,0,1,26.21,39ZM28,36.56a.3.3,0,0,1-.06-.42h0a.31.31,0,0,1,.43,0h0a.3.3,0,0,1,0,.42h0a.3.3,0,0,1-.24.12h0A.26.26,0,0,1,28,36.56Zm1.89-2.32a.31.31,0,0,1,0-.43h0a.3.3,0,0,1,.42,0h0a.3.3,0,0,1,0,.42h0a.29.29,0,0,1-.23.1h0A.31.31,0,0,1,29.87,34.24Zm2-2.22a.3.3,0,0,1,0-.43h0a.3.3,0,0,1,.42,0h0a.29.29,0,0,1,0,.42h0a.3.3,0,0,1-.21.09h0A.28.28,0,0,1,31.9,32ZM34,29.91a.3.3,0,0,1,0-.42h0a.3.3,0,0,1,.43,0h0a.31.31,0,0,1,0,.43h0a.32.32,0,0,1-.2.08h0A.29.29,0,0,1,34,29.91Zm2.25-2a.31.31,0,0,1,0-.42h0a.31.31,0,0,1,.43,0h0a.31.31,0,0,1,0,.42h0a.31.31,0,0,1-.2.07h0A.31.31,0,0,1,36.28,27.92Zm2.36-1.86a.3.3,0,0,1,.06-.42h0a.3.3,0,0,1,.42.06h0a.3.3,0,0,1-.06.42h0a.32.32,0,0,1-.18.06h0A.3.3,0,0,1,38.64,26.06Z" style="fill:#b9b7b8"/><rect x="92.89" y="47.67" width="36.25" height="0.08" transform="translate(-8.98 61.9) rotate(-30)" style="fill:#b9b7b8"/><rect x="71.74" y="96.61" width="0.08" height="37.16" style="fill:#b9b7b8"/><rect x="39.9" y="42.84" width="0.6" height="18.57" transform="translate(-25.05 60.88) rotate(-60)" style="fill:#b9b7b8"/><rect x="71.48" y="136.94" width="0.6" height="7.06" style="fill:#b9b7b8"/><path d="M32.83,47.49a.67.67,0,1,1-.67-.67A.67.67,0,0,1,32.83,47.49Z" style="fill:#b9b7b8"/><path d="M124.72,53.27a.32.32,0,0,1-.63,0,.32.32,0,1,1,.63,0Z" style="fill:#b9b7b8"/><path d="M95.63,56.81a.32.32,0,1,1-.32-.32A.31.31,0,0,1,95.63,56.81Z" style="fill:#b9b7b8"/><circle cx="71.78" cy="0.67" r="0.67" style="fill:#b9b7b8"/><path d="M72.86,15.11a1,1,0,1,1-1-1A1,1,0,0,1,72.86,15.11Z" style="fill:#b9b7b8"/><path d="M5.84,48.89a.31.31,0,0,1-.31.32.32.32,0,1,1,0-.63A.31.31,0,0,1,5.84,48.89Z" style="fill:#b9b7b8"/><circle cx="30.72" cy="126.69" r="0.67" style="fill:#b9b7b8"/><path d="M72.13,133.76a.32.32,0,1,1-.31-.31A.31.31,0,0,1,72.13,133.76Z" style="fill:#b9b7b8"/><path d="M72.11,130.21a.32.32,0,0,1-.63,0,.32.32,0,1,1,.63,0Z" style="fill:#b9b7b8"/><path d="M104.65,115.11a.32.32,0,1,1-.32-.31A.31.31,0,0,1,104.65,115.11Z" style="fill:#b9b7b8"/><path d="M39.57,115.12a.32.32,0,1,1-.31-.31A.31.31,0,0,1,39.57,115.12Z" style="fill:#b9b7b8"/><path d="M113.45,126.77a.67.67,0,1,1-.67-.67A.67.67,0,0,1,113.45,126.77Z" style="fill:#b9b7b8"/><path d="M117.28,123.46a.32.32,0,1,1-.63,0,.32.32,0,0,1,.63,0Z" style="fill:#b9b7b8"/><circle cx="139.03" cy="88.96" r="0.67" style="fill:#b9b7b8"/><circle cx="138.06" cy="48.91" r="0.67" style="fill:#b9b7b8"/><path d="M105.1,25.69a.74.74,0,1,1-.73-.73A.74.74,0,0,1,105.1,25.69Z" style="fill:#b9b7b8"/><circle cx="124.41" cy="87.46" r="0.26" style="fill:#b9b7b8"/><path d="M124.06,89.23a.26.26,0,0,1-.26.26.25.25,0,0,1-.26-.26.26.26,0,0,1,.26-.26A.26.26,0,0,1,124.06,89.23Z" style="fill:#b9b7b8"/><circle cx="122.42" cy="92.7" r="0.26" style="fill:#b9b7b8"/><circle cx="119.36" cy="98.64" r="0.26" style="fill:#b9b7b8"/><path d="M72.05,96.66a.27.27,0,0,1-.53,0,.27.27,0,1,1,.53,0Z" style="fill:#b9b7b8"/><circle cx="71.79" cy="113.45" r="0.26" style="fill:#b9b7b8"/><path d="M72.05,114.23a.26.26,0,0,1-.26.26.26.26,0,0,1-.26-.26.25.25,0,0,1,.26-.26A.26.26,0,0,1,72.05,114.23Z" style="fill:#b9b7b8"/><path d="M72.22,116a.43.43,0,1,1-.43-.43A.43.43,0,0,1,72.22,116Z" style="fill:#b9b7b8"/><path d="M72.34,137a.55.55,0,0,1-.55.56.56.56,0,1,1,0-1.11A.55.55,0,0,1,72.34,137Z" style="fill:#b9b7b8"/><path d="M72.34,144.08a.55.55,0,0,1-.55.56.56.56,0,1,1,0-1.12A.55.55,0,0,1,72.34,144.08Z" style="fill:#b9b7b8"/><circle cx="52.12" cy="137.18" r="0.56" style="fill:#b9b7b8"/><path d="M41.14,132.82a.27.27,0,0,1-.53,0,.27.27,0,0,1,.53,0Z" style="fill:#b9b7b8"/></g></g></g></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  content: '';
  animation:spin 20s linear infinite;
}

@keyframes spin{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}	
}

.scanLogos {
  max-height: 10vh;
}

@media all and (orientation: portrait) {
  .scanLogos {
    max-height: 10vh;
    object-fit: cover;
    object-position: 100% 0;
    width: 10vh;
  }
}

.mainHeader {
  border-bottom: none;
  position: relative;
  min-height: 50px;
  height: 10vh;
  max-height: 80px;
  background-color: $ptc-gray;
}

.labelCorporate {
  color: white;
  font-family: 'Century Gothic';
  font-weight: bold;
}

.ptcLogo {
  display: block;
  padding: 5%;
  content: $ptc-logo-ko-gr;
  max-height: 10vh;
  width:100%
}

.divider {
  background-color: $ptc-green;
  //border-bottom: 3px solid ;
}

.backButton {
  background-color: transparent;
}

.windchillLogo {
  //max-height: 40px;
  width: 120px;
  overflow: hidden;
}

.cardWindchill {
  -webkit-transition: width 0.3s, height 0.3s ease-in;
  width: 30vw;
  height:160px;
  min-width: 190px;
  overflow: hidden !important;
  left: env(safe-area-inset-left);
  position: fixed;
  bottom: 0px;
}

.cardWindchillButton {
  -webkit-transition: width 0.3s, height 0.3s ease-in;
  width: calc(30vw + 100px);
  height:160px;
  min-width: 190px;
  
  left: env(safe-area-inset-left);
  position: fixed;
  bottom: 0px;
}

.cardWindchillHide {
  -webkit-transition: width 0.3s, height 0.3s ease-out;
  width: 100px;
  height: 50px;
  overflow: hidden !important;

  left: env(safe-area-inset-left);
  position: fixed;
  bottom: 0px;
}

.panel.left {
  flex: 0 0 auto !important;
}

.cartPopup{
  background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 321.39 175.1"><title>Popup</title><g id="Basic_Elements" data-name="Basic Elements"><g id="Layer_2-2" data-name="Layer 2-2"><polygon points="320.84 18.14 204.47 18.64 189.47 0 320.84 0 320.84 18.14" style="fill:#6b6b6b;opacity:0.699999988079071;isolation:isolate"/><polyline points="203.31 0 196.72 0 212.17 19.14 219.47 19.14" style="fill:#70bf4d"/><polyline points="215.96 0 209.38 0 224.82 19.14 232.12 19.14" style="fill:#70bf4d"/><polyline points="228.14 0 221.55 0 236.99 19.14 244.3 19.14" style="fill:#70bf4d"/><polygon points="320.89 166.89 320.87 18.15 205.1 18.97 189.38 0.5 0.5 0.5 0.5 153.3 20.71 166.89 320.89 166.89" style="fill:#2b292a;stroke:#6b6b6b;stroke-miterlimit:10;opacity:0.699999988079071;isolation:isolate"/><polyline points="102.78 166.89 19.81 166.89 32.8 175.1 110.98 175.1 142.57 175.1 292.93 175.1 295.97 172.06 320.89 172.06 320.89 166.89" style="fill:#70bf4d"/></g></g></svg>');
  background-size: contain;
  box-shadow: unset;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  overflow-x: hidden;
}

.repeater-cell {
    background: transparent;
}

.repeaterOwn {
  margin: 0px 10%;
  border: 2px $ptc-green solid;
  height: 110px;
}

.cardInteration {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 521.97 46.22"><title>Boder</title><g id="Layer_2" data-name="Layer 2"><g id="Basic_Elements" data-name="Basic Elements"><g id="Layer_2-2" data-name="Layer 2"><polyline points="521.79 46.04 477.42 1.5 1 1.5" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px"/><line x1="1.5" y1="20.25" x2="1.5" y2="0.98" style="fill:none;stroke:#6fbf4a;stroke-miterlimit:10;stroke-width:3px"/><rect x="464.28" y="12.89" width="6.88" height="6.88" transform="translate(935.43 32.66) rotate(180)" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px"/><rect x="10.7" y="12.89" width="6.88" height="6.88" transform="translate(28.28 32.66) rotate(180)" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px"/><line x1="41.85" y1="1.5" x2="1.84" y2="1.5" style="fill:none;stroke:#6fbf4a;stroke-miterlimit:10;stroke-width:3px"/></g></g></g></svg>');
  position: absolute;
  background-color: $ptc-gray;
  background-repeat: no-repeat;
  width: 30vw;
  right: env(safe-area-inset-right);
}

.cardCloseButton {
  font-family: 'Century Gothic';
  padding-top: 2px;
  line-height: 18px;
  position: fixed;
  right: 0px;
  top: 0px;
  height: 20px;
  min-height: 10px;
  background: transparent;
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(91,183,59, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(91,183,59, 0);
     }
}

.pulse
{
  animation: shadow-pulse 1s 1;
}

//fix for re poping popups
.button:hover {
  color: white;
}